.bar {
    fill: lightGrey;
    stroke: black;
}

.bar:hover {
    fill: steelBlue;
}

.axis-y .domain,
.axis-x .domain,
.grid .domain {
    display: none;
}

text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}